/* Home Styles */


/* General */
.sectionTitle  {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 10px;
    background-color: var(--black);
    color: var(--white);
    font-family: "JetBrains Bold";
    border-radius: 5px;
}
.leftGuideLine  {
    transform: rotateX(90deg);
}
.liveContainer  {
    background-color: var(--black);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
    position: absolute;
    right: 10px;
    top: 10px;
}
.liveIndicator  {
    background-color: greenyellow;
    margin-right: 7.5px;
    padding: 5.1px;
    border-radius: 50px;
    position: relative;
    animation: pulse 2s infinite;
}
.liveText  {
    color: var(--white);
    font-family: "JetBrains Bold";
    text-transform: uppercase;
    font-size: 11px;
}

/* Hero */
.heroContainer  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 60px);
    height: 100vh;
    border: 2px solid rgba(0, 0, 0, 0.2);
    margin: 0 30px;
}
.heroContent  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.heroYear  {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 10px;
    background-color: var(--black);
    color: var(--white);
    font-family: "JetBrains Bold";
    border-radius: 5px;
}
.heroTitle  {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 80px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    line-height: 1;
}
.heroSubtitle, .heroSubtitleTop  {
    font-weight: 500;
    font-size: 25px;
    margin-top: 1em;
    text-align: center;
    opacity: 0.5;
}
.heroSubtitle  {
    margin-top: 0;
}
.heroIcon  {
    margin-bottom: 1em;
    animation: jiggle-icon 2s ease-in-out infinite;
    transition: all 0.5s cubic-bezier(.075, .82, .165, 1);
}

/* Mission */
.missionContainer  {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    /* height: 100vh; */
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    margin: 0 30px;
    width: calc(100% - 60px);
}
.missionStatement, .missionStatementBold  {
    font-weight: 500;
    font-size: 30px;
    margin-top: 1em;
}
.missionStatementBold  {
    font-weight: 700;
    margin-top: 0;
}
.missionGrid  {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    /* margin-bottom: 30px; */
}
.missionItem  {
    display: flex;
    flex-direction: column;
    border: 2px dashed rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    padding: 30px;
}
.missionNumber  {
    font-weight: 700;
    font-size: 40px;
}
.missionTitle  {
    font-weight: 600;
    font-size: 20px;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}
.missionSubtitle  {
    font-weight: 500;
    opacity: 0.5;
}
.missionItem:first-child, .missionItem:nth-child(2), .missionItem:nth-child(3), .missionItem:nth-child(4)  {
    border-left: 0;
}
.missionItem:last-child {
    border-right: 0;
}


/* Initiatives */
.initiativesContainer  {  
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    /* height: 100vh; */
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    margin: 0 30px;
    width: calc(100% - 60px);
}
.initiativeItem  {
    display: flex;
    flex-direction: column;
    border: 2px dashed rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    padding: 30px;
    position: relative;
}
.initiativeImg  {
    border-radius: 10px;
}
.initiativeTitle  {
    font-weight: 600;
    font-size: 20px;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}
.initiativeSubtitle  {
    font-weight: 500;
    opacity: 0.5;
}
.initiativeGrid  {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    /* margin-bottom: 30px; */
}
.initiativeItem:first-child, .initiativeItem:nth-child(2), .initiativeItem:nth-child(3), .initiativeItem:nth-child(4)  {
    border-left: 0;
}
.initiativeItem:last-child {
    border-right: 0;
}

/* Founders */
.foundersContainer  {  
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100vh;
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    margin: 0 30px;
    width: calc(100% - 60px);
}

/* Sitemap */
.sitemapContainer  {
    margin: 0 30px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    width: calc(100% - 116px);
}

/* Animations */
@keyframes jiggle-icon {
    0% {
        transform: translateY(0px);
    }
    45% {
        transform: translateY(5px);
    }
    60% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(5px);
    }
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(172, 255, 47, 0.7);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(172, 255, 47, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(172, 255, 47, 0);
    }
}
